* {
  box-sizing: border-box;
}

body {
  height: 80%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

nav {
  position: absolute;
  bottom: 2em;
  width: 100%;
}
nav a {
  width: 19%;
  height: 2em;
  display: inline-block;
  text-align: center
}

#videos {
  position: relative;
}
video {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 77vh;
  opacity: 0;
  position: absolute;
  top: 0;
}
video:target {
  opacity: 1;
  z-index: 1;
}

